/* -------------------------------------------------- 
   ------------------ GLOBALS ------------------ 
   -------------------------------------------------- */

   :root {
    --light-yellow: hsl(44 79% 94%);
    --teal: hsl(198 12% 41%);
    --dark-teal: hsl(196 13% 34%);
    --darkest-teal: hsl(200 12% 25%);
    --gold-yellow: hsl(42 74% 44%);
    --desat-yellow-1: hsl(45 65% 90%);
    --desat-yellow-2: hsl(44 25% 85%);
    --warm-yellow: hsl(39 45% 85%);
    --highlight: hsl(45 65% 80%);
  }

body,
.roam-body .roam-app {
    background-color: var(--light-yellow);
    color: var(--dark-teal);
}

/* TOOLTIPs and popup menus */

.bp3-menu-item,
.bp3-tooltip .bp3-popover-content, .bp3-tooltop .bp3-heading {
    color: var(--teal);
}

.bp3-menu,
.bp3-tooltip .bp3-popover-content {
    background: white;
}

.bp3-popover .bp3-popover-arrow-fill,
.bp3-tooltip .bp3-popover-arrow-fill {
    fill: white;
}

.bp3-input {
    background: var(--warm-yellow);
}

.rm-pages-toolbar .toolbar-search-group .search-input {
    background-color: var(--warm-yellow);
    border: 1px solid hsl(46 16% 69%);
}

.rm-pages-toolbar .toolbar-search-group .search-icon {
    color: hsl(46 26% 58%);
}

.rm-pages-title-text {
    color: var(--gold-yellow);
}

#right-sidebar {
    background-color: var(--light-yellow);
    border-left: 2px solid var(--warm-yellow);
}

.rm-block__self .rm-block__ref-count.rm-active {
    color: var(--teal);
    background-color: var(--desat-yellow-1);
}

/* -------------------------------------------------- 
   ------------------ LEFT SIDEBAR ------------------ 
   -------------------------------------------------- */

.roam-body .roam-app .roam-sidebar-container {
    background: var(--teal);
    padding: 0 20px;
}

.roam-sidebar-container .bp3-button[class*="bp3-icon-"]::before {
    color: #CED9E0;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .top-row {
    margin-left: -20px;
    margin-right: -20px;
    transition: 100ms ease-in;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .title,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
    color: var(--light-yellow);
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .rm-db-title, /* account login */
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .title,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
    font-weight: 400;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .icon,
.bp3-icon-star::before {
    color: var(--desat-yellow-2); 
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .top-row,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
    transition: 100ms ease-in;
    margin-bottom: 5px;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
    transition: 200ms ease-in;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
    font-size: 0.9rem;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .top-row:hover,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button:hover,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover,
#roam-sidebar-logo:hover {
    background-color: var(--dark-teal);
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button:hover,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
    color: var(--light-yellow);
    border-radius: 10px;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
    padding-left: 20px
}


/* -------------------------------------------------- 
   ------------------ MAIN POST STYLING -------------
   -------------------------------------------------- */

textarea, /* when focussing on a block to type */
div, /* styling of all texts and blocks */
.rm-level1, .rm-heading-level-1>.rm-block__self .rm-block__input /* h1 */,
.rm-level3, .rm-heading-level-3>.rm-block__self .rm-block__input {
    font-family: Avenir, sans-serif; 
}

.rm-level1, .rm-heading-level-1>.rm-block__self .rm-block__input /* h1 */,
.rm-level2, .rm-heading-level-2>.rm-block__self .rm-block__input /* h2 */,
.rm-level3, .rm-heading-level-3>.rm-block__self .rm-block__input {
    font-weight: 400;
    color: var(--dark-teal);
}

.rm-level2, .rm-heading-level-2>.rm-block__self .rm-block__input /* h2 */ {
    font-family: Avenir, sans-serif !important; 
}

/* day note headings */
.roam-body .roam-app h1 {
    font-family: Garamond, serif;
    color: var(--teal);
}

.roam-body .roam-app .roam-main .roam-article .rm-title-display {
    margin-bottom: 20px;
}

/* border between log entries */
.rm-article-wrapper .roam-log-container .roam-log-page { 
    border-color: var(--desat-yellow-2);
}

/* bullet styling, open and closed */
.rm-bullet__inner,
.rm-bullet.rm-bullet--closed .rm-bullet__inner { 
    background-color: var(--gold-yellow);
}

.rm-multibar { /* left border when bullet is open */
    border-color: var(--desat-yellow-2); 
}

.rm-bullet.rm-bullet--closed .rm-bullet__inner { /* closed bullet with nested content */
    border-color: var(--desat-yellow-2);
}

.rm-page-ref--tag {
    color: hsl(199 11% 46%);
    background: hsl(46 30% 87%);
    padding: 0 10px;
    border-radius: 10px;
    transition: 100ms ease-in;
}


.rm-block-ref {
    border-bottom: 1px dashed var(--gold-yellow);
}

.rm-block-ref:hover {
    background: var(--highlight);
}

.rm-inline-references {
    background-color: var(--desat-yellow-1);
    padding: 10px;
    border-radius: 0 10px 10px 0;
}

a,
.rm-page-ref--link { 
    color: var(--gold-yellow);
}

.rm-reference-item {
    background-color: var(--desat-yellow-1);
    border-radius: 10px;
    padding: 10px;
}

a:focus, 
a:hover {
    color: var(--teal);
}

.rm-bq { /* blockquotes */
    background-color: var(--desat-yellow-1);
    border-left: 1px dashed var(--gold-yellow);
    border-radius: 0 10px 10px 0;
}

.bp3-slider-progress.bp3-intent-primary {
    background-color: var(--gold-yellow);
}

/*selecting a text */
::selection {
    background: var(--highlight);
}


/* -------------------------------------------------- 
   ---------------- TO BE COMPLETED ----------------- 
   -------------------------------------------------- */

/*

affects both a links and tags 
.rm-page-ref:hover { 
    text-decoration: none;
}

.rm-all-pages .table .rm-pages-row.rm-pages-row-header {
    background-color: ;
    color: ;
}

to fix alignment of large headings to the bullet point, but actually aligns to baseline ref blocks and center of blockquotes 
.roam-block-container .rm-block-main { 
    align-items: baseline;
}

unlinked references section but also affects some nav items
.flex-h-box {
    padding-top: 10px;
}
*/

/* -------------------------------------------------- 
   ---------------- CUSTOM DATA TAGS ---------------- 
   -------------------------------------------------- */

span.rm-page-ref[data-tag="Journal"]:before {
    content: '☁︎ '
}

span.rm-page-ref[data-tag="Working Log"]:before {
    content: '𝌝 '
}

span.rm-page-ref[data-tag="Q:"]:before {
    content: '❓ '
}


span.rm-page-ref[data-tag="thought"]:before {
    content: '☁︎ ';
}

span.rm-page-ref[data-tag="note"]:before {
    content: '❗️ '
}

span.rm-page-ref[data-tag="to find out"]:before {
    content: '🔍  '; 
}

span.rm-page-ref[data-tag="zettel"]:before {
    content: '❖ '
}

span.rm-page-ref[data-tag="literature note"]:before {
    content: '◇ '
}

span.rm-page-ref[data-tag="fleeting notes"]:before {
    content: '○ '
}

span.rm-page-ref[data-tag="to check out"]:before {
    content: '⤴ '
}

span.rm-page-ref[data-tag="lexicon"]:before {
    content: '⨁ ';
}


span.rm-page-ref[data-tag="agenda"]:before,
span.rm-page-ref[data-tag="for next time"]:before {
    content: '⌁ '; /* ARROWS: ➤ ☛ ❥ ↬ ↠ ↣ ↪ ⌱ ⌁ ⇢ ⚡️ */
}

span.rm-page-ref[data-tag="story ideas"]:before,
span.rm-page-ref[data-tag="blog ideas"]:before,
span.rm-page-ref[data-tag="startup ideas"]:before,
span.rm-page-ref[data-tag="art ideas"]:before {
    content: '☀︎ ';
}

span.rm-page-ref[data-tag="grateful"]:before, 
span.rm-page-ref[data-tag="i like"]:before,
span.rm-page-ref[data-tag="resonance calendar"]:before {
    content: '❤︎ ';
}

